
:root{
    --background-color-timeLine: #ffffff;
    --body-background-color: #ffffff;
    --background-color-background: rgb(255, 239, 219);
    --background-color-contentBody: rgb(255, 255, 255);
    --black: #000000;
    --font-main: Helvetica;
}    

body{
    background-color: var(--body-background-color);
}

#timeLine{
    background-color: var(--background-color-timeLine);
    border-radius: 25px;
    position: absolute;
    left: 1%;
    top: 1.5%;
    width: 20%;
    height: 97%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#contentBody{
    background-color: var(--background-color-contentBody);
    border-radius: 25px;
    position: absolute;
    right: 1%;
    top: 1.5%;
    width: 77%;
    height: 97%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#pic{
    position: absolute;
    height: 40%;
    width: 40%;
    right: 8%;
    top: 9.5%;

    border-radius: 25px;
    overflow: hidden;
    margin: 50px auto 50px auto;

    display: flex; 
    flex-direction: column; 
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;

    background-size: cover;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#h1_ {

    position: absolute;
    top: 3%;
    height: 2%;

    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 25px;
    padding: 20px;

    background-color: var(--background-color-background);

    font-family: var(--font-main);
    font-size: 1.3vw;

    text-align: center;

    display: table;

    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button{
    display: table;
}

.timeLineButton {
    position: absolute;
    height: 5%;
    border-radius: 25px;
    border: none;
    background-color: var(--background-color-background);
    font-family: var(--font-main);
    font-size: 1.3vw;
    text-align: center;
    color: var(--black);
    width: 60%;
    height: 11.25%;
    left: 20%;
}

#_Jesus1{
    top: 3%;
}

#_Jesus2{
    top: 16.77%;
}

#_Jesus3{
    top: 30.54%;
}

#_Jesus4{
    top: 44.31%;
}

#infoText1{
    position: absolute;
    top: 12%;
    left: 10%;
    height: 25%;
    width: 32%;
}

#infoText2{
    position: absolute;
    top: 48.5%;
    left: 9%;
    height: 32%;
    width: 30%;
}

#infoText3{
    position: absolute;
    bottom: 6.5%;
    right: 7%;
    height: 20%;
    width: 40%;
}

.text{
    border-radius: 25px;
    padding: 20px;

    line-height: 1.3vw;

    background-color: var(--background-color-background);

    font-family: var(--font-main);
    font-size: 1.2vw;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes InfoTextHin {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes PicHin {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes InfoTextBack {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes PicBack {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
